@use "../var/colors" as *;
@use "../var/mixins" as *;

.footer{
    background-color: #eee;
    padding: 24px;
    .footer-row{
        .footer-wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            .footer-text{
                @include xsm{
                    margin: 0 auto;
                }
                p{
                    display: inline;
                }
                p:not(:last-child){
                    margin-right: 10px;
                }
            }
            .footer-icons{
                @include xsm{
                    margin: 10px 0 0;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
                a:not(:last-child){
                    margin-right: 12px;
                }
            }
        }
    }
}